/* Big Screens */
#urdu-section #timeline h1.inshaallaah {
    font-family: "Gulzar", serif;
    line-height: 2.5;
}

#urdu-section #timeline h1, #urdu-section #timeline h2 {
    font-family: "Noto Nastaliq Urdu", serif;
}

#urdu-section #timeline h2 {
    line-height: 2;
}

#urdu-section #timeline p {
    line-height: 2;
}

/* Tablet Wide Screens */
@media (max-width: 992px) {
}

/* New Mobile Phones Wide Screens */
@media (max-width: 428px) {
    #urdu-section #timeline h5 {
        font-size: 1rem;
    }

    #urdu-section #timeline h1.inshaallaah {
        font-size: 2rem;
    }
}

/* Old Mobile Phones Wide Screens */
@media (max-width: 360px) {
}
