/* Big Screens */
    #urdu-section #urdu-content {
    background: url("../../../../public/assets/images/bg-img-3.jpg") repeat
        fixed 100%;
    color: white;
}

#urdu-section #urdu-content .urdu-content-wrapper {
    padding: 7%;
}

#urdu-section #urdu-content h4 {
    margin: 2rem 0px;
}

#urdu-section #urdu-content h5 {
    margin-bottom: 0.5rem;
    line-height: 2.5;
}

/* Tablet Wide Screens */
@media (max-width: 992px) {
}

/* New Mobile Phones Wide Screens */
@media (max-width: 428px) {
    #urdu-section #urdu-content {
    background: url("../../../../public/assets/images/bg-img-3-sm.jpg") repeat
        fixed 100%;
    }
    #urdu-section #urdu-content .urdu-content-wrapper {
        padding: 10%;
    }

    #urdu-section #urdu-content h4 {
        font-size: 1rem;
        margin: 1.5rem 0px;
    }

    #urdu-section #urdu-content h5 {
        font-size: 0.75rem;
        margin-bottom: 0.25rem;
    }
}

/* Old Mobile Phones Wide Screens */
@media (max-width: 360px) {
}
